body {
    background-color: bisque;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

table {
    border-collapse: collapse;
}

tr {
    background-color: aqua;
}

th {
    background-color: aquamarine;
}

td, th {
    padding: 40px;
}

tr:nth-child(even) {
    background-color: blue;
}