body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 2px;
    width: 20%;
    flex-direction: column;
    padding: 5px;
}

.email, .ano, .btn {
    padding: 5px;
    margin: 5px;
    width: 90%;
}

.btn:hover {
    padding: 5px;
    margin: 5px;
    width: 90%;
    background-color: rgba(208, 253, 253, 0.664);
}
